block visual-box
	table.visual__box
		tbody.box__body
			tr.box__row
				td.box__cell.cell--active
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "0"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "217",
						"data-cord-y": "0"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "434",
						"data-cord-y": "0"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "178"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "217",
						"data-cord-y": "178"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "434",
						"data-cord-y": "178"
					})
			tr.box__row
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "0",
						"data-cord-y": "356"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "217",
						"data-cord-y": "356"
					})
				td.box__cell
					button.btn--cell.js-set-cord&attributes({
						"data-cord-x": "434",
						"data-cord-y": "356"
					})