html, body {
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
}

html {
	font-size: .625em;
}

body {
	position: relative;
	font: normal 1rem/1.5em $ff_segoeui;
	background: transparent url('../images/main-bg.jpg') no-repeat center center;
	background-size: 100% 100%;
}

a {
	text-decoration: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}